:root{
  box-sizing: border-box;
  --primary--color: rgb(193, 151, 198); /*60-30-10 color rule */
  --second--color: rgb(225, 235, 114);
  --third--color: rgb(239, 232, 232);
  --font--color: black;
  --location: 160px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: small;
}

.frame {
  position: relative;
  width: 100%; /*alternative : vw */
  height: 100vh; /* viewport height %*/
  display: flex;
  flex-direction: row;
}

.sidebar{
  position: relative;
  background-color: var(--second--color);
  width:200px; /* 200 to 70px*/
  height: 100vh;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px ;
  overflow: hidden;
  color: var(--font--color);
  transition: .5s ease;
}

.sidebar.minimal{
  position: relative;
  width:100px;
  transition: .5s ease;
  --location: 82px;
}


.sidebar-header{
  position: relative;
  display: flex;
  flex-direction: row;
  min-height:60px;
  align-items: center;
  font-weight: bold;
  padding: 5px;
  border: 1px solid red;
  z-index: 1;
}


.profile{
  position: relative;
  left: 10px;
  border-radius: 25px;
  height:40px;
  width: 40px;
  object-fit: cover;
  
  
}

.profile:hover + .profile-default{
  display:block;
}
.profile-default{
  position: absolute;
  left: 23px;
  object-fit: cover;
  height:40px;
  width: 40px;
  display: none;
  transition: .4 ease;
  border-radius: 25px;
}

.profileName{
  position: relative;
  left: 20px;
  max-width: 105px;
  word-wrap: break-word;
}

.expand {
  
  position:fixed;
  left: var(--location);  
  border: 2px solid red;
  border-radius: 50px 50px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1;
  transition:.41s ease;
  
}

.sidebarItem{
  cursor: pointer;
  position: relative;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 90%;
  left:3%;
  border: 1px solid blue;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.sidebarItem:hover{
  background-color: blueviolet;
}

.sidebarItem .Text {
  position: relative;
  left: 40px;
  
}

.mainFrame{
  background-color: var(--primary--color);
  position: relative;
  height: 100vh;
  width: 100%;
  border-radius: 0px 10px 10px 0px;
  z-index: -1;
  
}

.icon-db, .icon-set, .icon-noti, .icon-re, .icon-ana {
  position: absolute;
  padding-left:10px;
  padding-top: 5px;
  min-height: 20px;

}